.b{
    margin-top: 70px;
    background-color: #f9f9f9;
}


.services-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .service-icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #0078d7;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .service-icon:hover {
    transform: scale(1.1);
  }
  
  .service-name {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  
  .a{    background-color: #f9f9f9;
    margin-top: 0px;
    text-align: center;
  }